.footer {  
    background-color: #205295;

    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidekiri-empty-footer core-footer sidekanan-empty-footer";
    grid-area: footer;
  }
  
  .sidekiri-empty-footer { 
    /* background-color: white; */
    grid-area: sidekiri-empty-footer; }
  
  .sidekanan-empty-footer { 
    /* background-color: white; */
    grid-area: sidekanan-empty-footer; }
  
  .core-footer { grid-area: core-footer;
    display: grid; 
    grid-template-columns: 1fr; 
    grid-template-rows: 0.7fr 1.3fr; 
    gap: 0px 0px; 
    grid-template-areas: 
    "atas"
    "bawah"; 
  }

  .core-footer-atas{
    background-color: aliceblue;
    grid-area: atas;
  }

  .core-footer-bawah{
    background-color: aqua;
    grid-area: bawah;
  }


  /**   media query   **/

  @media screen and (max-width: 767px) {
    .footer {  
      background-color: burlywood;
  
      display: grid;
      grid-template-columns: 0.2fr 2.6fr 0.2fr; 
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "sidekiri-empty-footer core-footer sidekanan-empty-footer";
      grid-area: footer;
    }
  }