.header-nav {  
    position: sticky;
    top: 0;
    background-color:#0A2647;

    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: minmax(0,1fr);
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidekiri-empty-header core-header sidekanan-empty-header";
    grid-area: header-nav;
  }
  
  .sidekiri-empty-header { 
    grid-area: sidekiri-empty-header; }
  
  .sidekanan-empty-header { 
    grid-area: sidekanan-empty-header; }
  
  .core-header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: core-header; }
  
  .core-header > img{
    margin-left: 15px;
  }  

  .core-header > ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }

  .core-header > ul > li{
    margin: 0 30px;
  }

  .core-header > ul > li > a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: white;
  }



  /**     Media query     **/
  @media screen and (max-width: 767px) and (min-width:470px) {
    .header-nav {  
      position: sticky;
      top: 0;
      background-color: #0A2647;
  
      display: grid;
      grid-template-columns: 0.2fr 2.6fr 0.2fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "sidekiri-empty-header core-header sidekanan-empty-header";
      grid-area: header-nav;
    }

    .button-responsive{
      position: absolute;
      top: 10px;
      left: 60px;
      width: 30px;
      height: 50px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    } 

    .button-responsive::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: white;
      transform: translateY(-10px);
      box-shadow: 0 12px white;
    }

    .button-responsive::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: white;
      transform: translateY(12px);
    }

    .core-header { 
      display: flex;
      align-items: center;
      justify-content: space-around;
      grid-area: core-header;
     }

    .core-header > img{
      margin-left: 15px;
    }  

    header > .core-header > ul{
      width: 100%;
      padding-top: 10px;
      background-color: #0f3561;
      position: absolute;
      top: 4rem;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    .core-header > ul > li{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    #navbar-active > .core-header > ul{
      width: 100%;
      padding-top: 10px;
      background-color: #0f3561;
      position: absolute;
      top: 4rem;
      visibility: visible;
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    #navbar-active > .core-header > ul >li {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    #navbar-inactive > .core-header > ul{
      width: 100%;
      padding-top: 10px;
      background-color: #0f3561;
      position: absolute;
      top: 4rem;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    #navbar-inactive > .core-header > ul >li {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

  }

  @media screen and (max-width:470px){
    .header-nav {  
      position: sticky;
      top: 0;
      background-color: #0A2647;
  
      display: grid;
      grid-template-columns: 0.070fr 2.8fr 0.070fr;
      grid-template-rows: 1fr;
      gap: 0px 0px;
      grid-auto-flow: row;
      grid-template-areas:
        "sidekiri-empty-header core-header sidekanan-empty-header";
      grid-area: header-nav;
    }

    .button-responsive{
      position: absolute;
      top: 10px;
      left: 25px;
      width: 30px;
      height: 50px;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    } 

    .button-responsive::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: white;
      transform: translateY(-10px);
      box-shadow: 0 12px white;
    }

    .button-responsive::after{
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      background: white;
      transform: translateY(12px);
    }

    .core-header { 
      display: flex;
      align-items: center;
      justify-content: space-around;
      grid-area: core-header;
     }

    .core-header > img{
      margin-left: 15px;
    }  

    .core-header > ul{
      width: 100%;
      padding-top: 10px;
      background-color: #0f3561;
      position: absolute;
      top: 4rem;
      /* display: none; */
      /* display: flex; */
      visibility: hidden;
      flex-direction: column;
      list-style: none;
    }

    .core-header > ul > li{
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    #navbar-active > .core-header > ul{
      width: 100%;
      padding-top: 10px;
      background-color: #0f3561;
      position: absolute;
      top: 4rem;
      visibility: visible;
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    #navbar-active > .core-header > ul >li {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    #navbar-inactive > .core-header > ul{
      width: 100%;
      padding-top: 10px;
      background-color: #0f3561;
      position: absolute;
      top: 4rem;
      visibility: hidden;
      display: flex;
      flex-direction: column;
      list-style: none;
    }

    #navbar-inactive > .core-header > ul >li {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

  }

  