.judul {  
    background-color: #144272;

    display: grid;
    grid-template-columns: 0.3fr 2.4fr 0.3fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidekiri-empty-judul core-judul sidekanan-empty-judul";
    grid-area: judul;
  }
  
  .sidekiri-empty-judul { 
    /* background-color: white; */
    grid-area: sidekiri-empty-judul; }
  
  .sidekanan-empty-judul { 
    /* background-color: white; */
    grid-area: sidekanan-empty-judul; }
  
  .core-judul { grid-area: core-judul; }


    /**   media query   **/

    @media screen and (max-width: 767px) {
      .judul {  
        background-color: brown;
    
        display: grid;
        grid-template-columns: 0.2fr 2.6fr 0.2fr; 
        grid-template-rows: 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "sidekiri-empty-judul core-judul sidekanan-empty-judul";
        grid-area: judul;
      }
    }